@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,600;1,700&display=swap');

*, ::before, ::after{
    box-sizing: inherit;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;}

body{
    background-color: var(--back-color);
    font-family: Oxygen, sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
}
:root{
    --back-color: #CEF2FF;
    --accent-color: #0065EC;
    --secondary-color: #634E4D;
}

li{
    list-style: none;
    padding: 0 10px;
    font-size: 2.2rem;
}

h1{
    font-family: "Source Sans Pro", serif;
    font-weight: 600;
    font-size: 9.8rem;
    color: var(--accent-color);
}

nav{
    color: white;
    font-weight: 400;
    background-color: var(--accent-color);
    height: 80px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0;
    top: 0;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: var(--back-color);
}

p{
    word-break: break-word;
    line-height: 1.5em;
    color: var(--secondary-color);
    font-size: 2.2rem;
}

.description p{
    margin-top: 50px;
    width: 60%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    width: 100%;
    padding-left: 5%;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img{
    position: absolute;
    top: 100px;
    right: 5%;
    z-index: -10;
}

#works{
    padding-left: 5%;
    /*width: 100%;*/
    margin-top: 80px;
}

.container{
    margin: 80px 0;
    display: grid;
    grid-auto-flow: column;
}

.avatar{
    width: 580px;
}
