@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,600;1,700&display=swap');

*, ::before, ::after{
    box-sizing: inherit;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;}

body{
    background-color: var(--back-color);
    font-family: Oxygen, sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: font-size 1s linear;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
        font-size: 55%;
    }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html {
        font-size: 53%;
    }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 50%;
    }

}

:root{
    --back-color: #CEF2FF;
    --accent-color: #0065EC;
    --secondary-color: #634E4D;
}

li{
    list-style: none;
    padding: 0 10px;
    font-size: 2.2rem;
}

h1{
    font-family: "Source Sans Pro", serif;
    font-weight: 600;
    font-size: 9.8rem;
    color: var(--accent-color);
}
h2{
    color: var(--accent-color);
    padding-top: 30px;
    font-size: 3.5em;
}
nav{
    color: white;
    font-weight: 400;
    background-color: var(--accent-color);
    height: 80px;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0;
    top: 0;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: var(--back-color);
}

#welcome-section p{
    word-break: break-word;
    line-height: 1.5em;
    color: var(--secondary-color);
    font-size: 2.2rem;
}

.description p{
    margin-top: 50px;
    width: 60%;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    margin-bottom: 8%;
    width: 100%;
}

#welcome-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: justify-content 2s ease-in-out;
}

.img{
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    z-index: -10;
}

#projects, #contact, footer, #welcome-section{
    padding: 0 5%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 6rem auto;
}

.avatar{
    width: 580px;
    transition: opacity 1s  linear;
}

.project-tile p{
    font-size: 2.5em;
    color: var(--secondary-color);
}

.project-tile{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
}

.project-tile img{
    width: 100%;
    height: calc(100% - 6.8rem);
    object-fit: cover;
}

img{
    display: block;
}


#projects a{
    text-decoration: none;
}

#projects a:hover p{
    color: var(--accent-color);
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50vh;
    width: 100%;
    font-size: 4rem;
    margin: 0 0 0 5px;
    color: var(--secondary-color);
    overflow-x: visible;
    transition: flex-direction 1s linear;
}
.flex-container a{
    display: inline-block;
    transition: transform 0.3s ease-out;
}

.flex-container a:hover{
    transform: scale(2);
}

i{
    font-size: 5rem;
    padding: 2px;
    width: 100%;
    color: var(--secondary-color);
    font-style: normal;
}

footer{
    background-color: var(--secondary-color);
    height: 10vh;
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer blockquote{
    margin-right: 10px;
}
footer p{    word-break: break-all;
}

@media (max-width: 30.625em) {
    #projects {
        padding: 6rem 1rem;
    }
    .container {
        grid-template-columns: 1fr;
    }

    .flex-container, footer{
        flex-direction: column;
    }
    footer{justify-content: space-between;
    text-align: center;
    height: 15vh;
    padding: 2px 0}
}

@media (max-width: 61.25em) {

    #welcome-section p{
        text-align: justify;
        width: 100%;
    }

    #welcome-section .img{
        justify-content: center;
    }

    #welcome-section .avatar{
        width: 400px;
        opacity: 0.5;
    }
}
